/********* HOM-Custom.css *********/
/********* Customm Font *********/
@font-face {
    font-family: 'Silk Serif';
    src: url('SilkSerif-BlackItalic.eot');
    src: local('Silk Serif Black Italic'), local('SilkSerif-BlackItalic'),
        url('SilkSerif-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('SilkSerif-BlackItalic.woff2') format('woff2'),
        url('SilkSerif-BlackItalic.woff') format('woff'),
        url('SilkSerif-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Silk Serif';
    src: url('SilkSerif-BoldItalic.eot');
    src: local('Silk Serif Bold Italic'), local('SilkSerif-BoldItalic'),
        url('SilkSerif-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('SilkSerif-BoldItalic.woff2') format('woff2'),
        url('SilkSerif-BoldItalic.woff') format('woff'),
        url('SilkSerif-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Silk Serif';
    src: url('SilkSerif-LightItalic.eot');
    src: local('Silk Serif Light Italic'), local('SilkSerif-LightItalic'),
        url('SilkSerif-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('SilkSerif-LightItalic.woff2') format('woff2'),
        url('SilkSerif-LightItalic.woff') format('woff'),
        url('SilkSerif-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Silk Serif';
    src: url('SilkSerif-Regular.eot');
    src: local('Silk Serif'), local('SilkSerif-Regular'),
        url('SilkSerif-Regular.eot?#iefix') format('embedded-opentype'),
        url('SilkSerif-Regular.woff2') format('woff2'),
        url('SilkSerif-Regular.woff') format('woff'),
        url('SilkSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Silk Serif';
    src: url('SilkSerif-ExtraLightItalic.eot');
    src: local('Silk Serif ExtraLight Italic'), local('SilkSerif-ExtraLightItalic'),
        url('SilkSerif-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('SilkSerif-ExtraLightItalic.woff2') format('woff2'),
        url('SilkSerif-ExtraLightItalic.woff') format('woff'),
        url('SilkSerif-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Silk Serif';
    src: url('SilkSerif-SemiBoldItalic.eot');
    src: local('Silk Serif SemiBold Italic'), local('SilkSerif-SemiBoldItalic'),
        url('SilkSerif-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('SilkSerif-SemiBoldItalic.woff2') format('woff2'),
        url('SilkSerif-SemiBoldItalic.woff') format('woff'),
        url('SilkSerif-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Silk Serif';
    src: url('SilkSerif-SemiBold.eot');
    src: local('Silk Serif SemiBold'), local('SilkSerif-SemiBold'),
        url('SilkSerif-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('SilkSerif-SemiBold.woff2') format('woff2'),
        url('SilkSerif-SemiBold.woff') format('woff'),
        url('SilkSerif-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Silk Serif';
    src: url('SilkSerif-MediumItalic.eot');
    src: local('Silk Serif Medium Italic'), local('SilkSerif-MediumItalic'),
        url('SilkSerif-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('SilkSerif-MediumItalic.woff2') format('woff2'),
        url('SilkSerif-MediumItalic.woff') format('woff'),
        url('SilkSerif-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Silk Serif';
    src: url('SilkSerif-ExtraLight.eot');
    src: local('Silk Serif ExtraLight'), local('SilkSerif-ExtraLight'),
        url('SilkSerif-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('SilkSerif-ExtraLight.woff2') format('woff2'),
        url('SilkSerif-ExtraLight.woff') format('woff'),
        url('SilkSerif-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Silk Serif';
    src: url('SilkSerif-Medium.eot');
    src: local('Silk Serif Medium'), local('SilkSerif-Medium'),
        url('SilkSerif-Medium.eot?#iefix') format('embedded-opentype'),
        url('SilkSerif-Medium.woff2') format('woff2'),
        url('SilkSerif-Medium.woff') format('woff'),
        url('SilkSerif-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Silk Serif';
    src: url('SilkSerif-Light.eot');
    src: local('Silk Serif Light'), local('SilkSerif-Light'),
        url('SilkSerif-Light.eot?#iefix') format('embedded-opentype'),
        url('SilkSerif-Light.woff2') format('woff2'),
        url('SilkSerif-Light.woff') format('woff'),
        url('SilkSerif-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Silk Serif';
    src: url('SilkSerif-Italic.eot');
    src: local('Silk Serif Italic'), local('SilkSerif-Italic'),
        url('SilkSerif-Italic.eot?#iefix') format('embedded-opentype'),
        url('SilkSerif-Italic.woff2') format('woff2'),
        url('SilkSerif-Italic.woff') format('woff'),
        url('SilkSerif-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Silk Serif';
    src: url('SilkSerif-Bold.eot');
    src: local('Silk Serif Bold'), local('SilkSerif-Bold'),
        url('SilkSerif-Bold.eot?#iefix') format('embedded-opentype'),
        url('SilkSerif-Bold.woff2') format('woff2'),
        url('SilkSerif-Bold.woff') format('woff'),
        url('SilkSerif-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Silk Serif';
    src: url('SilkSerif-Black.eot');
    src: local('Silk Serif Black'), local('SilkSerif-Black'),
        url('SilkSerif-Black.eot?#iefix') format('embedded-opentype'),
        url('SilkSerif-Black.woff2') format('woff2'),
        url('SilkSerif-Black.woff') format('woff'),
        url('SilkSerif-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/********* Global *********/
/* Fonts */

.h0,
.h1,
.h2,
.h3,
.h4,
.h5,
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Silk Serif'!important;
    font-weight: normal;
    text-transform: uppercase;
}

.h1 {
    font-size: 24px; 
}

p {
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
  }
  body {
    font-family: 'Work Sans', sans-serif;
  }

  .h0 {
    font-size: 4rem;
  }
  
  @media only screen and (min-width: 750px) {
    .h0 {
      font-size: 5.2rem;
    }
  }
  
  h1,
  .h1 {
    font-size: 3rem;
  }
  
  @media only screen and (min-width: 750px) {
    h1,
    .h1 {
      /* font-size: 4rem; */
      font-size: 2rem;
    }
  }
  
  h2,
  .h2 {
    /* font-size: 2rem; */
    font-size: 1rem;
  }
  
  @media only screen and (min-width: 750px) {
    h2,
    .h2 {
      /* font-size: 2.4rem; */
      font-size: 1.4rem;
    }
  }
  
  h3,
  .h3 {
    /* font-size: 1.7rem; */
    font-size: 1.2rem;
  }
  
  @media only screen and (min-width: 750px) {
    h3,
    .h3 {
      font-size: 1.8rem;
    }
  }
  
  h4,
  .h4 {
    font-family: var(--font-heading-family);
    font-style: var(--font-heading-style);
    font-size: 1.5rem;
  }
  
  h5,
  .h5 {
    font-size: 1.2rem;
  }
  
  @media only screen and (min-width: 750px) {
    h5,
    .h5 {
      font-size: 1.3rem;
    }
  }
  
  h6,
  .h6 {
    color: rgba(var(--color-foreground), 0.75);
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
  }

.page-width {
    max-width: 150rem;
    margin: 0 auto;
}
/********* Header *********/
nav.header__inline-menu {
    width: calc(100% - 150px);
    text-align: center;
}
.header__menu-item span {
    font-size: 12px;
    letter-spacing: 2px;
}

a.link.link--text.list-menu__item.list-menu__item--link {
    font-size: 12px;
    text-transform: uppercase;
    color: black;
}
.header__submenu .header__menu-item {
    font-size: 12px;
}

@media screen and (min-width: 990px){
.header {
    padding-top: .5rem;
    padding-bottom: .5rem;
}
}

.link, .customer a{
    font-family: 'Work Sans', sans-serif;
    color: black;
    font-size: 14px;
    }


/* Page Layouts */

.shopify-policy__container {
    max-width: 100rem;
    margin-bottom: 50px;
}
.page-width.page-width--narrow {
    max-width: 100rem;
    margin-bottom: 50px;
}

h1.main-page-title {
    font-size: 28px;
}

/********* Product Page *********/

h1.product__title{
     font-size 24px;
    margin-top: 20px!important;
}
p.afterpay-paragraph {
    margin-top: 14px!important;
}

.accordion__content.rte{
    font-family: 'Work Sans',sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: black;
    
}

span.price-item.price-item--regular {
    font-size: 12px;
}

button#ProductPopup-1dc5a3d4-a6dd-4a05-9959-4c66c0927329 {
    display: flex;
    font-size: 12px;
    text-transform: uppercase;
}

modal-opener.product-popup-modal__opener.no-js-hidden {
    float: right;
    margin-top: 0px;
    font-size: 12px!important;
    margin-right: -8px;
}

@media screen and (min-width: 990px){
.product:not(.product--no-media):not(.featured-product) .product__info-wrapper {
    padding-left: 4rem;
    max-width: 25%!important;
    width: calc(25% - 1rem / 2)!important;
}

.product:not(.product--no-media):not(.featured-product) .product__media-wrapper {
    max-width: 75%!important;
    width: calc(75% - 1rem / 2)!important;
}
}

.product-form__input input[type='radio'] + label{
    padding: .5rem .75rem!important;
    border-radius: 0!important;
}

.product-form__submit {
    font-family: 'Silk Serif';
    font-weight: normal;
    text-transform: uppercase;
}

.shopify-payment-button__button {
    font-family: 'Silk Serif'!important;
    font-weight: normal!important;
    text-transform: uppercase;
}

.product__description.rte {
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  color: #000000;
  font-weight: 300;
}

.form__label {
  text-transform: uppercase;
}

h2.h4.accordion__title {
  font-size: 12px;
}

.product-popup-modal__button {
  font-size: 12px;
}

/******** Mega Menu ********/

    .sub-menu-area .sub-menu-list-box .sub-menu-item-box ul li a {
      color: #000;
      display: block;
      text-decoration: none;
      font-family: 'Work Sans', sans-serif;
      font-size: 14px!important;
      text-align: left;
      line-height: 29px;
      text-transform: uppercase;
    }

    .list-menu--right {
      right: 0;
    }

    details-disclosure>details {
      position: static;
    }

    .open-mega-menu {
      position: absolute;
      min-width: 100%;
      width: 20rem;
      border: 1px solid var(--color-foreground-20);
      background-color: var(--color-background);
      left: 0;
      background: #f7f7f7;
      z-index: 100;
    }

    .list-menu--disclosure {}

    .list-menu--disclosure:focus {
      outline: none;
    }

    .list-menu__item--active {
      text-decoration: underline;
      text-underline-offset: 0.3rem;
    }

    .list-menu--disclosure.localization-selector {
      max-height: 18rem;
      overflow: auto;
      width: 10rem;
      padding: 0.5rem;
    }

    .sub-menu-area {
      display: flex;
    }

    .sub-menu-area .sub-menu-list-box {
      width: 70%;
      display: flex;
      justify-content: space-between;
    }

    .sub-menu-area .sub-menu-list-box-other {
      width: 100%;
      display: flex;
      justify-content: center;
      overflow: scroll;
    }

    .sub-menu-area .sub-menu-list-box .sub-menu-item-box {
      width: 23%;
      margin-right: 2%;
      text-align: left;
    }

    .sub-menu-area .sub-menu-list-box-other .sub-menu-item-box {
      text-align: center;
      margin: 0 2%;
      align-items: center;
    }

    .sub-menu-area .sub-menu-list-box .sub-menu-item-box h4 {
      font-size: 20px;
      font-family: 'Silk Serif';
      font-weight: normal;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 15px;
    }

    .sub-menu-area .sub-menu-list-box .sub-menu-item-box ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    .sub-menu-area .sub-menu-list-box .sub-menu-item-box ul li {
      margin: 5px 0;
    }

    .sub-menu-area .sub-menu-list-box .sub-menu-item-box ul li a {
      color: #000;
      display: block;
      text-decoration: none;
    }

    .sub-menu-area .sub-menu-image {
      width: 30%;
    }

    .sub-menu-area .sub-menu-image img {
      width: 100%;
    }

    .menu-width-box {
      padding: 40px;
    }

   .header {
    padding-left: 40px;
    padding-right: 40px;
    z-index: 99999;
}

    h4.collection-menu-title a {
      text-decoration: none;
      color: black;
      font-family: 'Silk Serif';
      font-weight: normal;
      text-transform: uppercase;
  }

  .sub-menu-area .sub-menu-list-box-other .sub-menu-item-box img:hover{
    transform: scale(1.03);
    transition: transform var(--duration-long) ease;

  }
  .sub-menu-area .sub-menu-list-box-other .sub-menu-item-box img {
    transition: transform var(--duration-long) ease;

  }

    /******** Collection Page ********/
    /* Facets */

    .facets__display {
      border: 1px solid black!important;
    }
    .facets__header {
    border-bottom: 1px solid black!important;
    text-transform: uppercase!important;
    }

    collection-filters-form.facets.small-hide {
      border-bottom: 1px solid black!important;
    }

    summary.facets__summary.caption-large.focus-offset {
    text-transform: uppercase;
    font-size: 14px;
    }

    .facets__item {
      text-transform: uppercase;
  }

.product-view a {
    background: white;
    color: black;
    border: 1px solid #000;
    padding: 10px;
    text-decoration: none;
    font-size: 9px;
}

.product-view a:hover {
    background: black;
    color: white;
    border: 1px solid #000;
}

.product-view {
    margin-top: -6px;
}

.facets__summary span {
    font-size: 12px;
    color: black;
}

select#SortBy {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Work Sans';
    color: black;
}

.collection-filters__label {
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Work Sans',sans-serif;
    color: black;
}

p.facets__heading.caption-large {
    font-size: 12px;
    text-transform: uppercase;
    color: black;
}

p#CollectionProductCountDesktop {
    font-size: 12px; 
    text-transform: uppercase;
}

span.price-item.price-item--regular {
    font-size: 12px;
}

a.pagination__item.link {
    font-size: 12px;
}

.pagination__item--current {
    font-size: 12px;
}

/* Collection Title*/

.collection-hero__text-wrapper {
    text-align: center;
}

  /* Collection List */

  .card--media .card__text-spacing {
    padding: 2rem;
    margin-top: -7rem;
}

.card-colored.color-background-1 {
  background-color: rgba(var(--color-foreground),.0)!important;
}

.card--light-border {
    border: 0rem solid rgba(var(--color-foreground),.04)!important;
}
.card__text h3 {
  color: white;
}


.card--light-border {
    border: 0;
}

a.card {
    margin-bottom: 25px;
    color: white;
}
.card__text.card__text-spacing {
    margin-top: -20rem;
}

.card-colored.color-background-1 {
    background-color: rgb(0 0 0 / 0%);
}

.button, .button-label, .customer button, .shopify-challenge__button {
    font-size: 12px;
    font-family: 'Work Sans',sans-serif;
    text-transform: uppercase;
}

/* Banner */

.banner__text>* {
  color: white;
}


.banner__box.color-background-1 {
  background: none;
}
.banner__box > * {
    width: 100%;
   
}

/*.banner__content {   
  border: 1px solid #fff;
    max-width: 1800px;
  display: block
} */

.banner__box {
    padding: 4rem;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: static;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/* Product Image */

.media.media--hover-effect.product-image > img + img {
  opacity: 1;
}

.media.media--transparent.media--adapt.media--hover-effect.product-image img {
  z-index: 100;
}

.card-wrapper:hover .media.media--transparent.media--adapt.media--hover-effect.product-image img {
  z-index: 1000;
  opacity: 1;
  transition: transform var(--duration-long) ease;
  transform: scale(1.03);
}
.card-wrapper:hover .media.media--transparent.media--adapt.media--hover-effect.product-image img + img {
  z-index: 1000;
  opacity: 0;
  transition: transform var(--duration-long) ease;
  transform: scale(1.03);
}


/* Collection Filters */
.disclosure-has-popup[open] > summary + * {
  z-index: 1000;
}

/* Newslatter */

button#Subscribe {
    position: static;
    box-sizing: border-box;
    height: 48px;
    width: 140px;
    border: 1px solid #000000;
    margin-left: 10px;
}.newsletter__subheading .customer .field input, .field__input {
    box-shadow: none !important;
    border-bottom: 1px solid #000;
    padding: 15px 0;
    width: 355px;
}
.customer .field label, .field__label {
    left: 0;
}
.newsletter__wrapper .newsletter-form__field-wrapper .field {
    justify-content: space-between;
}.newsletter__wrapper .newsletter-form__field-wrapper,.newsletter-form {
    max-width: 507px;
}


 


/* Footer */

.footer__content-bottom .footer__column--info {
    flex-direction: row;
    justify-content: space-between;
}

small.copyright__content {
    font-size: 12px;
    text-transform: uppercase;
    color: black;
}

.footer-block__details-content.rte {
    font-family: 'Work Sans',sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: black;
}
ul.footer__list-social.list-unstyled.list-social {
    justify-content: flex-start;
   padding-left: 0;
}

/* Afterpay Formatting */
span.afterpay-text1 {
    font-size: 12px;
    text-transform: uppercase;
}

strong.afterpay-instalments {
    font-size: 12px;
}

span.afterpay-text2 {
    font-size: 12px;
    text-transform: uppercase;
}

a.afterpay-link {
    text-transform: uppercase;
    color: black;
    font-weight: 600;
}

/* Mobile Menu */
a.menu-drawer__menu-item {
    font-size: 12px;
    letter-spacing: 1px;
}

summary.menu-drawer__menu-item.list-menu__item {
    font-size: 12px;
    letter-spacing: 1px;
}

.menu-drawer__close-button {
    font-size: 12px;
    font-family: 'Work Sans';
    font-weight: 600;
    letter-spacing: 1px;
}


/* Mobile Filter */

.facets__summary>div, .mobile-facets__summary>div {
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: black;
}

select#SortBy-mobile {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Work Sans';
    color: black;
}

button.mobile-facets__close-button.link.link--text.focus-inset {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

label.mobile-facets__label {
    text-transform: uppercase;
    font-size: 12px;
    color: black;
    letter-spacing: 1px;
}

.mobile-facets__count {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

p.mobile-facets__info {
    font-size: 12px;
    text-transform: uppercase;
    color: black;
}

price-range.facets__price {
    max-width: 100%;
    display: block;
}

.facets__price .field-currency {
    margin-left: 1.9rem;
    color: black;
}

input#Mobile-Filter-Price-GTE {
    font-size: 12px;
}

.facets__price .field__label {
    font-size: 12px;
    text-transform: uppercase;
}

.collection-product-count__text {
    font-size: 12px;
    text-transform: uppercase;
}

span.active-facets__button-inner {
    border-radius: 0px;
    line-height: 13px;
}

@media screen and (max-width: 989px){
.active-facets__button, .active-facets__button-remove {
    padding-right: 0px;
}
}

.active-facets__button, .active-facets__button-remove {
    text-transform: uppercase;
}

.collection-container .grid.show-product-images .grid__item .grid-view-item__image-wrapper .grid-view-item__image {
  opacity: 0.0;
  filter: alpha(opacity=0);
  transition: all 300ms ease-in-out; }
.collection-container .grid.show-product-images .grid__item .grid-view-item__image-wrapper .grid-view-item__image + .grid-view-item__image {
  opacity: 1.0;
  filter: alpha(opacity=100); }
@media (min-width: 1024px) {
  .collection-container .grid.show-product-images .grid__item .grid-view-item__image-wrapper:hover .grid-view-item__image:first-of-type {
    opacity: 1.0;
    filter: alpha(opacity=100);
    z-index: 2; } }


    .show-product-images{
      opacity: 0.0;
      filter: alpha(opacity=0);
      transition: all 300ms ease-in-out; }

      .show-product-images{
        opacity: 1.0;
        filter: alpha(opacity=100); }


@media screen and (min-width: 750px)
.banner__content {
    padding-bottom: 5rem;
    padding-top: 5rem;
}

@media screen and (max-width: 749px){

.product-view {
    margin-top: 5px;
}
  .footer__content-bottom .footer__column--info {
    flex-direction: column;
    padding: 0;
}
  /* shipping policy */

.shipping-data {
    overflow: scroll;
    padding: 2px 2px;
 }
  
 
}
 
@media screen and (max-width: 480px){
button#Subscribe {
    margin-top: 15px;
    margin-left: 0px;
}
 .newsletter__wrapper .newsletter-form__field-wrapper .field {
    flex-direction: column;
}
  
}
